@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --mainColor: #513dff;
    --bgColor: #141414;
    --secondBgColor: #000000;
    --transparentBgColor: #00000091;
    --textColor: #ffffff;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    scrollbar-color: mai;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bgColor);
}

html::-webkit-scrollbar-thumb {
    background: var(--mainColor);
}

.body {
    background-color: var(--bgColor);
}

/* Header Section */
.header {
    width: 100%;
    height: 100px;
    background-color: var(--secondBgColor);
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 10rem;
    box-shadow: 0 0 1.5rem var(--secondBgColor);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px 4rem;
}

.nav .logo {
    color: var(--textColor);
    font-size: 32px;
    font-weight: 600;
    transition: .5s;
}

.nav .logo:hover {
    transform: scale(1.1);
    color: var(--mainColor);
    filter: drop-shadow(0 0 2rem var(--mainColor));
}

.nav .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0 2rem;
}

.nav .navbar ul {
    display: flex;
    gap: 0 2rem;
}

.nav .navbar a {
    position: relative;
    color: var(--textColor);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    transition: .3s;
}

.nav .navbar a:hover {
    color: var(--mainColor);
}

.nav .navbar a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--mainColor);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav .navbar a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.btn-menu {
    display: none;
}

.menu-items {
    display: none;
}

@media screen and (max-width: 964px) {
    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 4rem;
    }

    .nav .navbar {
        display: none;
    }

    .btn-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        border: 0;
        background: transparent;
    }

    .btn-menu:hover {
        cursor: pointer;
    }

    .btn-menu .line {
        width: 32px;
        height: 4px;
        border-radius: 10px;
        background-color: var(--textColor);
        transition: all .5s;
    }

    .btn-menu.active .line:nth-child(2) {
        width: 0;
    }

    .btn-menu.active .line:nth-child(1) {
        background-color: var(--mainColor);
        transform: rotate(-45deg) translate(-5px, 8px);
    }

    .btn-menu.active .line:nth-child(3) {
        background-color: var(--mainColor);
        transform: rotate(45deg) translate(-4px, -8px);
    }

    .menu-items {
        display: block;
        position: absolute;
        right: -100%;
        top: 100px;
        width: 80%;
        height: 100vh;
        background-color: var(--transparentBgColor);
        backdrop-filter: blur(5px);
        transition: all .5s;
    }

    .menu-items.show {
        right: 0px;
    }

    .menu-items ul {
        display: flex;
        flex-direction: column;
        transition: all .5s;
    }

    .menu-items ul li {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 60px;
        background-color: var(--transparentBgColor);
        transition: all .5s;
    }

    .menu-items ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: var(--textColor);
        font-size: 2rem;
        font-weight: 600;
        transition: all .5s;
    }

    .menu-items ul li:hover {
        background-color: var(--secondBgColor);
    }

    .menu-items ul li:hover a {
        color: var(--mainColor);
    }
}

/* Main Section */
.home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--bgColor);
    padding: 6rem 9% 0;
    user-select: none;
}

@media screen and (min-width: 1600px) {
    .home {
        padding: 8rem 20% 5rem;
    }
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--mainColor);
    cursor: pointer;
    transition: .5s ease;
}

.home-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 2.5rem var(--mainColor));
}

.home .home-content {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--mainColor);
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content h1 {
    color: var(--textColor);
}

.home-content p {
    color: var(--textColor);
    font-size: 1.8rem;
    font-weight: 400;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--mainColor);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--mainColor);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
}

.social-icon a:hover {
    color: #000;
    background: var(--mainColor);
    box-shadow: 0 0 25px var(--mainColor);
}

.social-icon a:hover::before {
    transform: translateY(-55px) rotate(0);
    opacity: 1;
}

.social-icon a:hover::after {
    transform: translateY(-35px) rotate(0);
    opacity: 1;
}

.social-icon a::before {
    content: attr(data-social);
    font-size: 14px;
    position: absolute;
    background-color: var(--mainColor);
    color: var(--textColor);
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: var(--secondBgColor);
    transform: translateY(-20px) rotate(25deg);
    transition: .2s ease;
    opacity: 0;
}

.social-icon a::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--mainColor);
    transition: .2s ease;
    opacity: 0;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: none;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    letter-spacing: 0.1rem;
    font-weight: 700;
    transition: .3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: var(--mainColor);
    color: #000;
    box-shadow: 0 0 25px var(--mainColor);
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: 'Desenvolvedor Frontend';
    color: var(--mainColor);
    animation: words 20s infinite;
}

.typing-text span::after {
    content: '';
    background-color: var(--bgColor);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bgColor);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid var(--mainColor);
    }
}

@keyframes words {

    0%,
    20% {
        content: 'Desenvolvedor Frontend';
    }

    21%,
    40% {
        content: 'Desenvolvedor Frontend';
    }

    41%,
    60% {
        content: 'Desenvolvedor Frontend';
    }

    61%,
    80% {
        content: 'Desenvolvedor Frontend';
    }

    81%,
    100% {
        content: 'Desenvolvedor Frontend';
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.home .home-content p {
    width: 55rem;
}

@media (max-width:1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width:995px) {
    .home {
        width: 100%;
        flex-direction: column;
        margin: 5rem 1rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        height: 70vw;
        margin-top: 4rem;
    }

    .home .home-content .social-icon a {
        font-size: 20px;
    }

    .home .home-content .btn {
        font-size: 2rem;
    }

    .typing-text span {
        font-size: 2.2rem;
    }

    .typing-text span::after {
        content: '';
        background-color: var(--bgColor);
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        border-left: 3px solid var(--bgColor);
        right: -8px;
        animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
    }

    .home .home-content p {
        width: 100%;
    }
}

/* Experience Section */
.experience {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding: 8rem 9% 5rem;
    user-select: none;
}

.experienceTitle {
    color: var(--textColor);
    font-size: 36px;
}

.experienceContainer {
    display: flex;
    gap: 30px;
}

.experienceBox {
    width: 400px;
    padding: 2rem;
    border: solid 2px var(--mainColor);
    border-radius: 15px;
}

.experienceBox i {
    color: var(--textColor);
    font-size: 20px;
}

.experience .titleBox {
    color: var(--textColor);
    font-size: 18px;
}

.experience .durationBox {
    color: var(--textColor);
    font-size: 16px;
}

.experience .descriptionBox {
    color: var(--textColor);
    font-size: 14px;
}

@media screen and (max-width: 965px) {
    .experienceContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .experienceBox {
        width: 300px;
    }

    .experience .descriptionBox {
        font-size: 12px;
    }
}

/* Skills Section */
.skills {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 8rem 9% 5rem;
    user-select: none;
}

.skills .skillsTitle {
    color: var(--textColor);
    font-size: 36px;
}

.skillsContainer {
    width: 800px;
    border: 0px solid var(--mainColor);
    border-radius: 15px;
    background-color: var(--mainColor);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.skillsContainer .skillsBox {
    width: 150px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondBgColor);
    border-radius: 15px;
    gap: 10px;
}

.skillsBox .sql {
    background-color: #ffffff;
    border-radius: 10px;
}

.skillsBox p {
    color: var(--textColor);
    font-size: 16px;
    font-weight: 500;
    user-select: text;
}

@media screen and (max-width: 965px) {
    .skillsContainer {
        width: 600px;
    }
}

@media screen and (max-width: 650px) {
    .skillsContainer {
        width: 450px;
    }
}

@media screen and (max-width: 470px) {
    .skillsContainer {
        width: 350px;
    }

    .skillsContainer .skillsBox {
        width: 125px;
    }
}

/* Cookies Section */
.cookies-msg {
    width: 30%;
    font-size: 12px;
    background-color: var(--textColor);
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 15px;
    display: none;
    user-select: none;
}

.cookies-msg.displayCookies {
    display: flex;
}

.cookies-msg .cookies-txt {
    color: var(--secondBgColor);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: justify;
    flex-direction: column;
    padding: 20px;
}

.cookies-msg .cookies-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.cookies-msg .cookies-btn button {
    background-color: var(--mainColor);
    color: var(--textColor);
    font-weight: 700;
    font-size: 18px;
    padding: 10px 40px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
}

.cookies-msg .cookies-btn button:hover {
    background-color: #4939d4;
    transform: scale(0.95);
}

.cookies-msg .cookies-btn button:active {
    transform: scale(0.9);
}

@media screen and (max-width: 965px) {
    .cookies-msg {
        width: 80%;
        background-color: var(--textColor);
        position: fixed;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 15px;
        display: none;
    }
}